body {
    background-color: #1e1e1e;
}

body:after {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    z-index: -1;
    content: url(../img/instagram-color.png);
}

a {
    cursor: pointer;
}

.header-main {
    width: 100%;
    height: 60px;
    background-color: white;
    display: flex;
    justify-content: space-between;
}

.header-main-logo {
    width: fit-content;
    height: 100%;
    padding-left: 40px; /*** Obsadenie loga na lavej strane ***/
    display: flex;
}

.header-main-logo img {
    height: 40px;
    align-self: center;
}

.header-main-nav {
    width: fit-content;
    height: 100%;
}

.header-main-nav ul {
    margin-left: 30px; /*** medzera medzi logom a menu ***/
}

.header-main-nav ul li {
    display: inline;
    float: left;
}

.header-main-nav ul li a {
    padding: 0 10px;
    font-family: arial;
    line-height: 60px;
    color: #000;
    display: block; /*** na link sa da kliknut aj pod a nad textom ***/
    height: 100%;
}

.header-main-nav ul li a:hover {
    color: red;
}

.header-main-sm {
    width: fit-content;
    height: 100%;
    padding-right: 40px; /*** Obsadenie log soc. siet z pravej strany ***/
    display: flex;
    align-items: center;
}

.header-main-sm-ig {
    width: 40px;
    height: 40px;
    background-image: url(../img/instagram.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.header-main-sm-ig:hover {
    background-image: url(../img/instagram-color.png);
}